/* Projects.css */

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .project-card {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column; /* Align children vertically */
    align-items: center; /* Center children horizontally */
  }
  
  .project-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px; /* Add margin between description and link */
  }
  
  .project-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .project-link:hover {
    color: #0056b3;
  }
  